<div class="card-footer text-muted">
    <div class="float-left">
      <h6 style="cursor:default">
        <code>&lt;/&gt;</code> with
        <span aria-label="Love" role="img">
          ❤️
        </span>
        by
        <a
          style=""
          href="https://sohammondal.com"
          class="alert-link"
        >
          Soham Mondal
        </a>
      </h6>
    </div>

    <div class="float-right">
      <h6>
        <a
          href="https://github.com/sohammondal/pollster"
          class="alert-link"
        >
          Source
        </a>
      </h6>
    </div>
  </div>